/* Reset some default browser styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    }
    /* Global Styles */
    body {
    font-family: 'Arial'
    , sans-serif;
    line-height: 1.6;
    }
    /* Navigation Menu */
    nav {
    background-color: #293241;
    color: #fff;
    }
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    }
    nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    }
    nav a:hover {
    color: #FDBB2F;
    }
    /* Hero Section */
    .hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
    }
    /* About Section */
    .about {
    background-color: #FDBB2F;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    }
    /* Featured Speakers Section */
    .speakers {
    background-color: #293241;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    }
    .speaker-card {
    border: 1px solid #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    }
    /* Footer Section */
    footer {
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    }
    /* CSS code */
#countdown {
    font-size: 45px; /* Adjust the font size as needed */
    color: gold;
    font-weight: bold;
    position: relative;
    top: 30px;
}
 /* CSS code */
.new-class1 {
    color: #1E1E1E; 
}
        /* Additional custom styling for the registration form */
        .registration {
            background-color: #f9f9f9;
            padding: 40px 0;
            text-align: center;
        }

        .registration h2 {
            color: #007bff;
            font-weight: bold;
        }

        .registration form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #007bff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .registration label {
            font-weight: bold;
        }

        .registration input[type="text"],
        .registration input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .registration button {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 30px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }


